{% load static %}

<footer>
    <!-- Social media icons -->
    <a href="" target="_blank" rel="noopener" aria-label="Linkedin - opens in new tab">
        <img src="{% static '/icons/linkedin-square-color-icon.svg' %}" alt="linkedin logo" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Github - opens in new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="github logo" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - opens in new tab">
        <img src="{% static '/icons/instagram-color-icon.svg' %}" alt="instagram logo" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - opens in new tab">
        <img src="{% static '/icons/twitter-square-color-icon.svg' %}" alt="twitter logo" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Youtube - opens in new tab">
        <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="youtube logo" class="social-icon">
    </a>
</footer>